{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic' rel='stylesheet' type='text/css'>
		<title>This or That? - The Polling App</title>
	</head>
	<h3>
		<img src= "/static/polls/images/this-logo.png"/>
	</h3>
	<body>
		<section id="polls">
			<div class="wrap">
				<h2>Polls</h2>
				<p> 
				<!-- Django detail.html file START -->
				<h1>{{ question.question_text }}</h1>

				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

				<form action="{% url 'polls:vote' question.id %}" method="post">
				{% csrf_token %}
				{% for choice in question.choice_set.all %}
    				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    				<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
				{% endfor %}
				<input type="submit" value="Vote" />
				</form>
				<!-- END -->
				</p>
			</div>
		</section>
	</body>
</html>











